body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    /* position: fixed; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .items {
    margin: 25px 0;
    border: 2px solid black;
    border-radius: 5px;
    width: 80%;
} */

/* .Phonebook_header {
    display: block;
    text-align: center;
    border-bottom: 2px solid black;
    padding: 20px 0;
    background-color: rgb(233, 233, 233);
}

.Phonebook_nav {
    text-align: center;
    border-bottom: 2px solid black;
}

.Phonebook_nav span {
    text-align: center;
    display: inline-block;
    width: 18%;
    border-right: 2px solid black;
    padding: 15px 0;
}

.Phonebook_nav span a {
    text-decoration: none;
    color: black;
}

.Phonebook_nav span:last-child {
    border-right: none !important;
}

.Phonebook_nav span:first-child {
    text-align: start;
    width: 3%;
}

.phoneBookForm {
    text-align: center;
    font-size: 14px;
}

.phoneBookForm li span {
    text-align: center;
    display: inline-block;
    width: 18%;
    padding: 15px 0;
}

.phoneBookForm li {
    border-bottom: 2px solid black;
}

.phoneBookForm span:first-child {
    text-align: start;
    width: 3%;
}

.addNew {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    padding: 15px 0;
}

.addNew input {
    width: 14%;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.addNew select {
    border: none;
    border-bottom: 2px solid black;
    font-size: 14px;
    outline: none;
}

.addBtn {
    margin: 10px 0 10px 30%;
}

.newItems {
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 5px;
}

.createNewItem label {
    display: inline-block;
    margin: 20px 50px;
    width: 10%;
}

.createNewItem input {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    margin-right: 50px;
}

.Btn {
    outline: none;
    padding: 10px 40px;
    cursor: pointer;
    background-color: rgb(145, 241, 50);
    border-radius: 5px;
}

.phoneBookForm a button {
    margin: 10px;
}

.backBtn {
    padding: 5px 5px;
    margin: 10px 0 10px 38%;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.siteSearch {
    text-align: center;
    margin-top: 25px;
}

.siteSearch input {
    width: 50%;
    text-align: center;
    outline: none;
    border-radius: 3px;
}

.siteSearch button {
    outline: none;
    background-color: rgb(123, 206, 206);
    border-radius: 5px;
}

.chooseCategory {
    margin: -6px;
    padding: 6px;
    outline: none;
    cursor: pointer;
}

#Btn_category {
    padding: 5px 10px;
    margin: -5px 0 -5px 5px;
} */

.upd_del a {
    text-decoration: none;
}

.page-links {
    margin-top: 25px;
}

.sort-links {
    color: black;
    text-decoration: none;
}

.btn-update {
    margin-top: 10px;
}

.input-group {
    margin-top: 20px;
}